.action-history-container {
  text-align: center;
  border: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable both-edges;
  scroll-margin-top: auto;
  /* display: flex; */
  /* flex-direction: column-reverse; */
  /* height: max-content; */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
