.action-history-container {
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  background-color: #3d3b3c;
}

.grid-container {
  display: grid;
  font-size: 1.2rem;
  overflow-y: auto;
  grid-template-columns: 0.25fr 1fr 1fr;
  scroll-behavior: smooth;
  text-align: left;
}

.grid-container > span {
  padding: 0.25rem 0.5rem;
}

.grid-container > span:nth-child(3n + 2),
.grid-container > span:nth-child(3n + 3) {
  padding-left: 2.5rem;
}

.grid-container > span:nth-child(6n + 1),
.grid-container > span:nth-child(6n + 2),
.grid-container > span:nth-child(6n + 3) {
  background-color: #554f52;
}

.grid-container > span:nth-child(6n + 4),
.grid-container > span:nth-child(6n + 5),
.grid-container > span:nth-child(6n + 6) {
  background-color: #7f7979;
}
