.advanced-options-container {
  display: grid;
  background-color: #3d3b3c;
  padding-top: 1rem;
  row-gap: 1rem;
}

.fen-input-container {
  display: grid;
  grid-template-columns: 85% 1fr;
  padding-left: 1rem;
  padding-right: 1rem;
}

.fen-input {
  resize: none;
  height: 2.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  outline: none;
  padding: 0.5rem;
}

.paste-button {
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}
