.current-team-indicator-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  align-items: center;
}

.team-text {
  z-index: 2;
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transition: transform 0.25s cubic-bezier(0.24, 0.82, 0.22, 0.97);
  background-color: rgba(80, 71, 76, 1);
}
