.error-container {
  background-color: red;
  display: flex;
  align-items: center;
  background-color: #3d3b3c;
  color: #998891;
}

.error-text {
  padding: 0.5rem;
}

@media (max-width: 900px), (max-height: 500px) {
  .error-container {
    margin: auto;
    height: 6rem;
    width: 25rem;
  }
}
