.game-options-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d3b3c;
}

.teamcolour-selector {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.colour-option {
  width: 5rem;
  border-radius: 0.5rem;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

input[type="radio"] {
  display: none;
}

.colour-option:has(input[type="radio"]:checked) {
  outline: 3px solid #555;
}
