.pieces-container {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.piece {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 125px;
}
