.sidebar-container {
  display: grid;
  grid-row: 2;
  grid-template-rows: 6rem 1fr;
  row-gap: 1rem;
  min-width: 18rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.sidebar-container > * {
  border-radius: 0.5rem;
}

@media (max-width: 900px), (max-height: 500px) {
  .sidebar-container {
    grid-row: 3;
    margin: auto;
    height: 700px;
    width: 25rem;
    grid-template-rows: 5rem 1fr;
  }
}
