.standard-options-container {
  display: grid;
  background-color: #3d3b3c;
  /* padding-top: 1rem; */
  row-gap: 1rem;
}

.colour-option {
  border-radius: 0.5rem;
}

.colour-option:hover {
  cursor: pointer;
}

.white {
  background-color: var(--white-colour);
}

.black {
  background-color: var(--black-colour);
}

input[type="radio"] {
  display: none;
}

.colour-option:has(input[type="radio"]:checked) {
  outline: 3px solid rgb(230, 107, 6);
}
