#root {
  margin: auto;
  text-align: center;
}

.app-container {
  margin: auto;
  max-width: 120dvh;
  display: grid;
  grid-template-columns: 2fr 0.75fr;
  column-gap: 1rem;
}

@media (max-width: 800px), (max-height: 500px) {
  .app-container {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}

.gameboard-container {
  position: relative;
}
